
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.content {
    display: none;
}

.content.active{
    display: block;
}
.edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    font-weight: bold;
    
}
input{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: larger;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    outline: none;
    opacity: 0.8;
    cursor: pointer;
    

}
input[type=file]{
border-radius: 0px;
width: auto;
margin-left: 150px ;

}
input:focus{
    background-color: #b8b8b8;
    border-color: rgb(138, 138, 138);
}
textarea{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: larger;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    
    cursor: pointer;
}
textarea:focus{
    background-color: #b8b8b8;

}
input[type=checkbox] {
  width: 100px;
  
}
.checkbox-user{
width: 100px;
margin-left: 25px;
}





.tabs {
    position: relative;
    padding:10px 20px;
    margin:0px 2px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:0px 0px 5px 5px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    gap: 10px;
}

.tabs .tabBtn.active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    background:rgb(0, 0, 0);
    cursor: pointer;
}
.tabBtn{
    cursor: pointer;
}
.tabBtn:hover {
    background-color: rgb(190, 188, 188);
    color: black;

}



table{
    border-style: solid;
    border-color: black;
    border-radius:5px;
    text-align: center;
    

}
table th {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    width: 20%;
    border: 0.5px solid #dddddd;
    border-radius: 2px;
    text-wrap: nowrap;
    padding: 10px;
    
    
    
}

table td {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #ddd;
    width: 20%;
    border-radius: 5px;
    text-wrap: nowrap;
    padding: 10px;
    

}
th:nth-child(1),th:last-child {
    border-radius: 5px;
}
td:last-child {
display: flex;
border: none;
gap: 5px;
}
button[type=submit] {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
  }
button[type=submit]:hover {
    background-color: rgb(190, 188, 188);
    color: black;

  }
  button[type=delete] {
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
    
  }
    button[type=user-cancel]{
        border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
    
    text-decoration: none;
    position: absolute;
    right: 630px; 
    margin-top: 5px;
        
    
  }
  button[type=user-cancel]:hover {
    background-color: rgb(252, 129, 129);
    color: black;
  }
button[type=delete]:hover {
    background-color: rgb(252, 129, 129);
    color: black;
  }
  button[type=addEventBtn]{
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
    

  }
button[type=addEventBtn]:hover{

    background-color: rgb(190, 188, 188);
    color: black;
}
label[type=searchbox]{
    display :none
}



.glass{
position: relative;
display: inline-block;

}
 .glass input{
 padding-left: 40px; 
        height: 40px;
        border: 1px solid #ccc;
        width: 200px;
        box-sizing: border-box;
 }   
 .glass button {
        position: absolute;
        left:5px; 
        top: 10px;
        height: 20px;
        width: 20px;
        display: block;
        border: none;
        background:none;
    }
    .glass button img {
        display: block;
        width: 20px;
        height: 20px;
    }


