@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display');

body {
    font-family: system-ui;
    font-size: 1.3rem;
    margin: 0;
}


header {
    background-color: hsl(185, 100%, 8%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5em 0.5em;
}

h1 {
    margin: 0;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 175%;
    padding: 20px;
    font-style: italic;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    transition: background-color 400ms;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    margin: auto;
    word-spacing: normal;

}

nav a:hover {
    background-color: black;


}

.login-button {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    height: 55px;
    width: 75px;
    cursor: pointer;
    transition: background-color 400ms;
    border-radius: 25px;
}

header>a {
    padding-left: 5%;
}



.login-button:hover {
    background-color: black;
    color: white;

}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    padding: 15px 0;
    text-align: center;

}

.contact-container {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    max-width: 500px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    background-color: rgb(173, 173, 173);
}

.contact-image {


    background-image: url(../images/email.png);
    background-position: top;
    background-size: 100px;
    background-repeat: no-repeat;

}




footer {
    background-color: hsl(185, 100%, 8%);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;



}

footer a:hover {
    text-decoration: underline;
}