


h1 {
    
    font-style: italic;
    text-align:center;

}

.contact-container {
    
    
    font-style: italic;
    max-width: 500px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    background-color: rgb(173, 173, 173);
}

.contact-image {


    background-image: url(../images/email.png);
    background-position: top;
    background-size: 75px;
    background-repeat: no-repeat;

}




footer {
    background-color: hsl(185, 100%, 8%);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;



}

footer a:hover {
    text-decoration: underline;
}